.customer-component{
  padding: 20px;
  }
  
.customer-tabs{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding-bottom: .5rem;
}

.tab{
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  color: black;
}

.tab.active {
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.tab-content{
  background-color: inherit;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .customer-tabs{
    justify-content: center;
  }
}